/*
 * Main page preloader
 */
.mb-preloader {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/preloader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

/*
 * This class added into the element in preload state.
 */
.mb-preload {
	background: #999999 url("../images/loader.gif") no-repeat center;
}

/*
 * This class added to elements in preload initialization
 */
.mb-preload-animate {
	transition: all linear 0.5s;
}

